<h3>You are just a couple steps away!</h3>
<div class="days-form">
  <div class="days-form-content">
    <%= simple_form_for @itinerary do |f| %>
      <%= f.label "Create itinerary", class: "itinerary-form-title" %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.submit "Continue", class: "btn button-1 itinerary-form-btn" %>
      <%# link_to "Next", new_itinerary_day_path(@itinerary) %>
    <% end %>
  </div>
</div>
