<div class="form-header">
  You are just a couple steps away!
</div>
<div class="itinerary-form">
  <div class="itinerary-form-content">
    <%= simple_form_for @itinerary do |f| %>
      <div class="inform-header mb-2">
        Create itinerary
      </div>
      <%= f.input :title, label: "Itinerary title" %>
      <%= f.input :description %>
      <%= f.input :country_ids, label: "Countries", collection: Country.all, input_html: { data: { controller: 'select2' }, multiple: true}, required: true %>
      <%= f.input :tag_ids, label: "Tags", collection: Tag.all, input_html: { data: { controller: 'select2' }, multiple: true}, required: true %>
      <div class="final-line">
        <%= f.input :photo, as: :file,
                    required: true,
                    id: "photo-btn" %>
        <%= hidden_field_tag(:subaction, 'edit2_param') %>
        <%= f.submit "Continue", class: "btn button-1 itinerary-form-btn" %>
      </div>
    <% end %>
  </div>
</div>
