<div class="banner-index">
  <div class="banner-objects">
    <h1 id="banner-slogan-index"><%=@country.name if @country.present?%></h1>
  </div>
</div>

<div class="page-title">
  <h1 class="index-header">Itineraries</h1>
</div>

<form action="/itineraries">
      <div class="filter d-flex justify-content-center">
      <input id="query" name="query" type="hidden" value="<%= params[:query] if params[:query].present?%>">
      <select name="filter" id="filter-tag" required onchange="this.form.submit()">
      <option value="<%= @filter %>" disabled selected hidden ><%= params[:filter].present? ? params[:filter] : "Add filter" %></option>
        <% @tags.each do |tag| %>
            <option value=<%= tag %>><%= tag %></option>
        <% end %>
      </select>
      </div>
    </form>

<% if @itineraries.count == 0 %>
  <div class="no-itin">
    No itinerary matches this search 😢
  </div>
<% end %>

<div class="itin-index mb-5">
  <% @itineraries.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |itinerary| %>
        <div class="col">
        <div class="card mt-4">
          <div class="cardbanner"
          <% if itinerary.photo.attached? %>
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path itinerary.photo.key, height: 300, crop: :fill %>')"
          <% else %>
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80')"
          <% end %>
          >
          <span><%= itinerary.title %></span>
          </div>
          <div class="card-infos">
            <div class="card-infos-1">
              <h4><%= itinerary.countries.map{|country| country.name}.uniq.first %></h4>
            </div>
            <div class="card-infos-2">
              <h6><%= itinerary.days.map{|day| day.city}.uniq.join(", ") %></h6>
              <h5><%= itinerary.days.count %> DAYS</h5>
            </div>
            <div class="card-infos-3">
              <span class="fa-layers fa-fw">
                <i class="fas fa-heart"></i>
                <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-5 right-7" style="font-weight:700">
                  <%= itinerary.likers_count %>
                </span>
              </span>
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            </div>
              <%= link_to "", itinerary_path(itinerary), class: "stretched-link" %>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
