<h3>You are just a couple steps away!</h3>
<div class="days-form">
  <div class="days-form-content">
    <%= simple_form_for @itinerary do |f| %>
      <%= f.label "Create itinerary", class: "itinerary-form-title" %>
      <%= f.input :title %>
      <%= f.input :countries, collection: Country.all %>

      <%= f.input :description %>
      <%= f.input :photo, as: :file,
                  required: true %>
      <%= f.submit "Next", class: "btn button-1 itinerary-form-btn" %>
    <% end %>
  </div>
</div>
