



<div class="show-info-1">
  <div class="show-info-1-text">
    <h4><%= @itinerary.countries.map{|country| country.name}.uniq.join(" - ")%></h4>
    <h6><%= @itinerary.days.map{|day| day.city}.uniq.join(", ")%></h6>
    <h5><%= @itinerary.days.count %> DAYS</h5>
  </div>
  <div class="show-info-1-heart">
            <div class="heart">
                  <%# likes might be in the wrong tabel %>
                <span class="fa-layers fa-fw">
                  <i  class="fas fa-heart like-heart "></i>
                  <span class="fa-layers-text fa-inverse" data-fa-transform="grow-6 right-19" style="font-weight:700">
                   <%= @itinerary.likers(User.all).count %>
                  </span>
                </span>
              <% if @itinerary.booked?(current_user) %>
              <div class="like-button">
                <%= render 'shared/like_button' %>
              </div>
              <% else %>
                <h4></h4>
              <% end %>

    </div>
  </div>
</div>

<div class="show-tags">
  <% @itinerary.tags.each do |tag| %>
  <div class="show-tag">
    <%= tag.name %>
  </div>
  <% end %>
</div>
<div class="trip-description">
  <h2 id="trip-description-header">Trip description</h1>
  <h6 id="trip-description"><%=@itinerary.description%></h6>
</div>

<% if @itinerary.user == current_user%>
        <%= render 'shared/button' %>
      <% elsif !@itinerary.booked?(current_user)%>
        <div class="unpurchased d-flex justify-content-center">
          <%= render 'shared/button' %>
        </div>
      <% end %>

  <div class="day-container">
    <div class="day-informations">
      <% @itinerary.days.each do |day| %>
        <h2 class="day-header1">Day <%=day.order%></h2>
        <h4 class="day-header2"><%= day.city %></h4>
        <div class="day-description"><%= day.description %></div>
        <% if @itinerary.booked?(current_user) || @itinerary.user == current_user %>
          <div class="day-purchased">
            <div class="day-restaurant"><i class="fas fa-utensils"></i> <%=day.restaurant_info%></div>
            <div class="day-activity"><i class="fas fa-star"></i> <%=day.activity_info%></div>
            <div class="day-extra"><i class="fas fa-user-secret"></i> <%=day.extra_info%></div>
          </div>
        <% end %>
      <% end %>
    </div>

      <div id="map"
        style="width: 400px; height: 75vh; margin: 0 10px 40px 60px; position: sticky; top: 140px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
</div>

<script scr="itineraries.js"></script>
