<div class="banner-show"
<% if  @itinerary.photo.attached?%>
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @itinerary.photo.key, height: 300, crop: :fill %>')"
<% else %>
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80')"
<% end %>
>
    <h1 id="banner-slogan-show"><%=@itinerary.title%></h1>
</div>

<div class="show-info-1">
  <div class="show-info-1-text">
    <h4><%= @itinerary.countries.map{|country| country.name}.uniq.join(" - ")%></h4>
    <h6><%= @itinerary.days.map{|day| day.city}.uniq.join(", ")%></h6>
    <h5><%= @itinerary.days.count %> DAYS</h5>
  </div>
  <div class="show-info-1-heart">
    <div class="heart">
      <span class="fa-layers fa-fw like-heart">
        <i  class="fas fa-heart "></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="grow-6 right-19" style="font-weight:700">
          <%= @itinerary.likers_count %>
        </span>
      </span>
      <% if @itinerary.booked?(current_user) %>
      <div class="like-button">
        <%= render 'shared/like_button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="show-tags">
  <% @itinerary.tags.each do |tag| %>
  <div class="show-tag" style="color:<%= tag.color %>; border: solid 1px <%= tag.color %>">
    <%= tag.name %>
  </div>
  <% end %>
</div>
<div class="trip-description">
  <h2 id="trip-description-header">
    Trip description
  </h2>

  <h6 id="trip-description"><%=@itinerary.description%></h6>
</div>

<% if @itinerary.user == current_user && !@itinerary.booked?(current_user)%>
  <div class="unpurchased d-flex justify-content-center">
    <%= render 'shared/possibilities_itinerary' %>
  </div>
<% end %>


  <div class="day-container">
    <div class="day-informations">
      <% @itinerary.days.each_with_index do |day, index| %>
        <h2 class="day-header1 mb-1">Day <%=day.order || index + 1%></h2>
        <h4 class="day-header2"><%= day.city %></h4>
        <div class="day-description"><%= day.description %></div>
        <% if @itinerary.booked?(current_user) || @itinerary.user == current_user %>
          <div class="day-purchased">
          <i class="fas fa-utensils"></i>
            <div class="day-restaurant"><%=day.restaurant_info%></div>
            <i class="fas fa-star"></i>
            <div class="day-activity"> <%=day.activity_info%></div>
            <i class="fas fa-user-secret"></i>
            <div class="day-extra"><%=day.extra_info%></div>
          </div>
        <% end %>
         <% if @itinerary.user == current_user%>
        <div class="purchased d-flex justify-content-center">
          <%= link_to "Edit day", edit_day_path(day), method: :get, class: "edit-day" %>
        </div>
        <% end %>
      <% end %>
    </div>
      <div id="map"
        style="width: 400px; height: 75vh; margin: 40px 10px 40px 60px; position: sticky; top: 140px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
  </div>
</div>

<% if (@itinerary.user != current_user) && (!@itinerary.booked?(current_user))%>
  <div class="purchase-cont">
  <%= form_tag itinerary_bookings_path(@itinerary) do %>
    <%= hidden_field_tag 'itinerary_id', @itinerary.id %>
    <%= submit_tag 'Purchase full itinerary', class: "btn purchase-btn" %>
  <% end %>
 </div>
<% end %>

<script scr="itineraries.js"></script>
