<div class="page-title">
  <div class="sign-up">
    Sign-up
  </div>
</div>
<div class="sign-in">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-lg">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :description,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "description" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file,
                  required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn button-1 itinerary-form-btn mb-3 mt-3" %>
    </div>
  <% end %>
    Already have an account?
    <div class = "log-in-link">
      <%= render "devise/shared/links" %>
    </div>
</div>
