<div class ="d-none">
  <% unless @itinerary.user != current_user && current_user.likes?(@itinerary) %>
  <%= form_with url: "/likes", method: :post, id: 'likes_form', data: {liked:true} do |form| %>
    <%= form.hidden_field :itinerary_id, value: @itinerary.id %>
    <%= form.submit "like" %>
  <% end %>
<% else %>
  <%= form_with url: "/unlikes", method: :post, id: 'likes_form', data: {liked:false} do |form| %>
    <%= form.hidden_field :itinerary_id, value: @itinerary.id %>
    <%= form.submit "unlike"  %>
  <% end %>
<% end %>
</div>
