<div class="banner-home">
  <div class="banner-objects">
    <h1 id="banner-slogan">Browse and share the best itineraries</h1>
    <form action="/itineraries">
      <div class="banner-search">
      <select name="query" id="search-bar" required>
      <option value="" disabled selected hidden ><span id="placeholder">Where do you plan to go?</span></option>
        <% Country.all.each do |country| %>
            <option value=<%= country.name%>><%= country.name %></option>
        <% end %>
      </select>
      <button id="search-submit-btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>

<div class="home">
  <h1 class="home-header">Trendy routes</h1>
  <div class="container">
    <div class="row">
      <% @itineraries.trendy.each do |itinerary| %>
        <div class="col-4">
          <div class="card">
            <div class="cardbanner"
              <% if itinerary.photo.attached? %>
                style="background-image: url('<%= cl_image_path itinerary.photo.key, height: 300, crop: :fill %>')"
              <% else %>
                style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80')"
              <% end %>>
              <span><%= itinerary.title %></span>
            </div>
            <div class="card-infos">
              <div class="card-infos-1">
                <h4><%= itinerary.countries.map{|country| country.name}.uniq.join(" - ") %></h4>
                <div class="cards-tag">
                  <%= itinerary.tags.map{|tag| tag.name}.uniq.join(" | ") %>
                </div>
              </div>
              <div class="card-infos-2">
                <h6><%= itinerary.days.map{|day| day.city}.uniq.join(", ") %></h6>
                <h5><%= itinerary.days.count %> DAYS</h5>
              </div>
              <div class="card-infos-3">
                <span class="fa-layers fa-fw">
                  <i class="fas fa-heart"></i>
                  <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-5 right-7" style="font-weight:700">
                    <%= itinerary.likers_count %>
                  </span>
                </span>
                <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              </div>
            </div>
            <%= link_to "", itinerary_path(itinerary), class: "stretched-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="lightgrey-container">
  <div class="journey">
    <div class="home">
      <h1 class="home-other-header">Create a journey</h1>
      <h5 class="home-text">The xplorerz community is constantly striving to create the best travel itineraries and get the most love in return. Start to create awesome itineraries now : you might even become the expert of a country, a continent and maybe the entire world. </h5>
    </div>
    <div class="avatar-constellation">
    <div class="container">
      <div class="row">
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://media.lelombrik.net/t/bd1973355949a5bf566b8552a83add10/f/bd1973355949a5bf566b8552a83add10.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <img class="avatar-large-bordered" alt="avatar-bordered avatar-large" src="https://thispersondoesnotexist.com/image" />
        </div>
        <div class="col-6 text-left">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
        </div>
        <div class="col-4 text-center">
          <img class="avatar-large-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="itinerary-button-container text-center">
    <% if user_signed_in? %>
    <%= link_to "Publish an itinerary", new_itinerary_path, class:"btn button-1-lg button-itinerary"%>
    <% else %>
    <%= link_to "Publish an itinerary", new_user_session_path, class:"btn button-1-lg button-itinerary"%>
    <% end %>
  </div>
</div>
