<div class="container-profile-page">
  <div class="profile-information">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar-large"%>
    <p>Name:</p>
    <%= current_user.first_name %> <%= current_user.last_name %>
    <p>Description:</p>
    <%= current_user.description %>
    <p>Email:</p>
    <%= current_user.email %>
    <p>Credits:</p>
    <p>2</p>
  </div>
  <div class="profile-items">
    <div class="booking-index">
      <div class="header-profile">
        <h4>Bought itineraries</h4>
      </div>
      <div class="d-flex flex-wrap">
        <% @booked_itineraries.each_slice(6) do |slice| %>
          <% slice.each do |booking| %>
            <div class="col-4">
              <div class="card-little">
                <div class="cardbanner-little">
                  <span>JUNGLE EVASION</span>
                </div>
                <div class="card-infos-little">
                  <div class="card-infos-1-little-only-country">
                    <h4>Costa Rica 🇨🇷</h4>
                  </div>
                  <div class="card-infos-2-little-only-country">
                    <h6>San José - La Fortuna - Monteverde - Rio Celeste - Tamarindo</h6>
                    <h5>5 DAYS, FROM 500 TO 700 $</h5>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="itin-index">
      <div class="header-profile">
        <h4>Created itineraries</h4>
      </div>
      <div class="d-flex flex-wrap">
        <% @itineraries.each_slice(6) do |slice| %>
            <% slice.each do |itinerary| %>
              <div class="col-4">
                <div class="card-little">
                  <div class="cardbanner-little">
                    <span>JUNGLE EVASION</span>
                  </div>
                  <div class="card-infos-little">
                    <div class="card-infos-1-little-only-country">
                      <h4>Costa Rica 🇨🇷</h4>
                    </div>
                    <div class="card-infos-2-little-only-country">
                      <h6>San José - La Fortuna - Monteverde - Rio Celeste - Tamarindo</h6>
                      <h5>5 DAYS, FROM 500 TO 700 $</h5>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
