<div class="container-profile-page">
  <div class="profile-information">
    <%= cl_image_tag current_user.photo.key, :class => 'avatar-large' %>
    <p>Name:</p>
    <%= current_user.first_name %> <%= current_user.last_name %>
    <p>Description:</p>
    <%= current_user.description %>
    <p>Email:</p>
    <%= current_user.email %>
    <p>Credits:</p>
    <p>2</p>
  </div>
  <div class="profile-items">
    <div class="booking-index">
      <div class="header-profile">
        <h4>Bought itineraries</h4>
      </div>
      <div class="d-flex flex-wrap">
        <% @booked_itineraries.each do |booking| %>
            <div class="col-4">
              <div class="card-little">
                <div class="cardbanner-little">
                  <span><%= booking.title %></span>
                </div>
                <div class="card-infos-little">
                  <div class="card-infos-1-little-only-country">
                    <h4><%= booking.countries.map{|country| country.name}.uniq.join(" - ") %></h4>
                  </div>
                  <div class="card-infos-2-little-only-country">
                    <h6><%= booking.days.map{|day| day.city}.uniq.join(", ") %></h6>
                    <h5><%= booking.days.count %> DAYS</h5>
                  </div>
                  <%= link_to "", itinerary_path(booking), class: "stretched-link" %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="itin-index">
      <div class="header-profile">
        <h4>Created itineraries</h4>
      </div>
      <div class="d-flex flex-wrap">
        <% @itineraries.each do |itinerary| %>
              <div class="col-4">
                <div class="card-little">
                  <div class="cardbanner-little">
                    <span><%= itinerary.title %></span>
                  </div>
                  <div class="card-infos-little">
                    <div class="card-infos-1-little-only-country">
                      <h4><%= itinerary.countries.map{|country| country.name}.uniq.join(" - ") %></h4>
                    </div>
                    <div class="card-infos-2-little-only-country">
                      <h6><%= itinerary.days.map{|day| day.city}.uniq.join(", ") %></h6>
                      <h5><%= itinerary.days.count %> DAYS</h5>
                    </div>
                  </div>
                  <%= link_to "", itinerary_path(itinerary), class: "stretched-link" %>
                </div>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
