<div class="days-form">
  <div class="days-form-content">
    <div class="top-form">
      <div class="top-link">
        <% if @itinerary.days.count >= 1 %>
          <%= link_to "Go back", edit_day_path(@itinerary.days[@itinerary.days.count - 1]), method: :get %>
        <% else %>
          <%= link_to "Go back", edit_itinerary_path(@itinerary), method: :get %>
        <% end %>
      </div>
      <div class="top-header">
        <h4> Day <%= @itinerary.days.count + 1 %> </h4>
        <br>
      </div>
    </div>
    <%= simple_form_for [ @itinerary, @day ] do |f| %>
      <%= f.input :city %> <%= f.input :description %>
      <%= f.input :restaurant_info %>
      <%= f.input :activity_info %>
      <%= f.input :extra_info %>
      <div class="end-page-buttons">
        <%= f.submit "Add day", class: "btn button-2" %>
        <% if @itinerary.days.count >= 1 %>
          <%= f.button :submit, "Finish", class: "btn button-1", style: "width: auto" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
