<div class="days-form">
  <div class="days-form-content">
    <div class="top-form">
      <div class="top-link">
        <% if @itinerary.days.index(@day) != 0 %>
          <%= link_to "Go Back", edit_day_path(@itinerary.days[@itinerary.days.count - 2]), method: :get%>
        <% else %>
          <%= link_to "Go Back", edit_itinerary_path(@itinerary), method: :get%>
        <% end %>
      </div>
      <div class="top-header">
        <h4> Day <%= @itinerary.days.index(@day) + 1 %> </h4>
        <br>
      </div>
    </div>
    <%= simple_form_for @day do |f| %>
      <p><%= f.input :city %> <%= f.input :description %></p>
      <%= f.input :restaurant_info %>
      <%= f.input :activity_info %>
      <%= f.input :extra_info %>
      <div class="end-page-buttons">
        <%= f.submit "Submit", class: "btn button-1" %>
        <%= f.submit "Add day", class: "btn button-2" %>
      </div>
    <% end %>
  </div>
</div>
