<div class="container custom-vh-container">
    <div class="row custom-vh-row">

    <%# This will still need connecting to the particular itinerary %>
      <div class="col-6">
        <div class="card no-hover">

          <div class="cardbanner"
            <% if @booking.itinerary.photo.attached? %>
              style="background-image: url('<%= cl_image_path booking.photo.key, height: 300, crop: :fill %>')"
            <% else %>
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80')"
            <% end %>
          >
            <span><%= @booking.itinerary.title %></span>
          </div>

          <div class="card-infos">
            <div class="card-infos-1">
              <h4><%= @booking.itinerary.countries.map{|country| country.name}.uniq.join(" - ") %></h4>
            </div>
            <div class="card-infos-2">
              <h6><%= @booking.itinerary.days.map{|day| day.city}.uniq.join(", ") %></h6>
              <h5><%= @booking.itinerary.days.count %> DAYS</h5>
            </div>
              <div class="card-infos-3">
                <span class="fa-layers fa-fw">
                  <i class="fas fa-heart"></i>
                  <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-5 right-7" style="font-weight:700">
                    <%= @booking.itinerary.likers(User.all).count %>
                  </span>
                </span>
                <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              </div>
            </div>
          </div>
        </div>
      <div class="col-6">
        <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= @booking.itinerary.title %></strong> for <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
      <button id="pay" class="btn purchase-btn">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
      </div>
    </div>
</div>
